<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.losgai.ai.mapper.AiConfigMapper">

    <resultMap id="BaseResultMap" type="com.losgai.ai.entity.ai.AiConfig">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
        <result property="apiDomain" column="api_domain" jdbcType="VARCHAR"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="modelType" column="model_type" jdbcType="TINYINT"/>
        <result property="modelId" column="model_id" jdbcType="VARCHAR"/>
        <result property="apiKey" column="api_key" jdbcType="VARCHAR"/>
        <result property="maxContextMsgs" column="max_context_msgs" jdbcType="INTEGER"/>
        <result property="similarityTopP" column="similarity_top_p" jdbcType="FLOAT"/>
        <result property="temperature" column="temperature" jdbcType="FLOAT"/>
        <result property="similarityTopK" column="similarity_top_k" jdbcType="FLOAT"/>
        <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
        <result property="caseTags" column="case_tags" jdbcType="VARCHAR"/>
        <result property="caseBrief" column="case_brief" jdbcType="VARCHAR"/>
        <result property="caseRemark" column="case_remark" jdbcType="VARCHAR"/>
        <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,display_name,api_domain,
        model_name,model_type,model_id,
        api_key,max_context_msgs,similarity_top_p,temperature,
        similarity_top_k,is_default,case_tags,
        case_brief,case_remark,is_enabled,create_time,
        update_time
    </sql>

    <sql id="User_Column_List">
        id,display_name,model_name,model_type,is_default,case_tags,
        case_brief,case_remark,is_enabled,create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ai_config
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ai_config
        <if test="keyWord != null and keyWord.trim() != ''">
            where display_name like concat('%',#{keyWord},'%')
            or model_id like concat('%',#{keyWord},'%')
            or model_name like concat('%',#{keyWord},'%')
        </if>
    </select>

    <select id="selectModelList" resultMap="BaseResultMap">
        select
        <include refid="User_Column_List"/>
        from ai_config
        where is_enabled = 0
        and model_type = 0
        or model_type = 2
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ai_config
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.losgai.ai.entity.ai.AiConfig"
            useGeneratedKeys="true">
        insert into ai_config
        ( id, display_name, api_domain
        , model_name, model_type, model_id
        , api_key, max_context_msgs, similarity_top_p,temperature
        , similarity_top_k, is_default, case_tags
        , case_brief, case_remark,is_enabled, create_time
        , update_time)
        values ( #{id,jdbcType=INTEGER}, #{displayName,jdbcType=VARCHAR}, #{apiDomain,jdbcType=VARCHAR}
               , #{modelName,jdbcType=VARCHAR}, #{modelType,jdbcType=TINYINT}, #{modelId,jdbcType=VARCHAR}
               , #{apiKey,jdbcType=VARCHAR}, #{maxContextMsgs,jdbcType=INTEGER}, #{similarityTopP,jdbcType=FLOAT},
                #{temperature,jdbcType=FLOAT}
               , #{similarityTopK,jdbcType=FLOAT}, #{isDefault,jdbcType=TINYINT}, #{caseTags,jdbcType=VARCHAR}
               , #{caseBrief,jdbcType=VARCHAR}, #{caseRemark,jdbcType=VARCHAR},#{isEnabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
               , #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.losgai.ai.entity.ai.AiConfig"
            useGeneratedKeys="true">
        insert into ai_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="displayName != null">display_name,</if>
            <if test="apiDomain != null">api_domain,</if>
            <if test="modelName != null">model_name,</if>
            <if test="modelType != null">model_type,</if>
            <if test="modelId != null">model_id,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="maxContextMsgs != null">max_context_msgs,</if>
            <if test="similarityTopP != null">similarity_top_p,</if>
            <if test="temperature != null">temperature,</if>
            <if test="similarityTopK != null">similarity_top_k,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="caseTags != null">case_tags,</if>
            <if test="caseBrief != null">case_brief,</if>
            <if test="caseRemark != null">case_remark,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="displayName != null">#{displayName,jdbcType=VARCHAR},</if>
            <if test="apiDomain != null">#{apiDomain,jdbcType=VARCHAR},</if>
            <if test="modelName != null">#{modelName,jdbcType=VARCHAR},</if>
            <if test="modelType != null">#{modelType,jdbcType=TINYINT},</if>
            <if test="modelId != null">#{modelId,jdbcType=VARCHAR},</if>
            <if test="apiKey != null">#{apiKey,jdbcType=VARCHAR},</if>
            <if test="maxContextMsgs != null">#{maxContextMsgs,jdbcType=INTEGER},</if>
            <if test="similarityTopP != null">#{similarityTopP,jdbcType=FLOAT},</if>
            <if test="temperature != null">#{temperature,jdbcType=FLOAT},</if>
            <if test="similarityTopK != null">#{similarityTopK,jdbcType=FLOAT},</if>
            <if test="isDefault != null">#{isDefault,jdbcType=TINYINT},</if>
            <if test="caseTags != null">#{caseTags,jdbcType=VARCHAR},</if>
            <if test="caseBrief != null">#{caseBrief,jdbcType=VARCHAR},</if>
            <if test="caseRemark != null">#{caseRemark,jdbcType=VARCHAR},</if>
            <if test="isEnabled != null">#{isEnabled,jdbcType=TINYINT},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.losgai.ai.entity.ai.AiConfig">
        update ai_config
        <set>
            <if test="displayName != null">
                display_name =
                #{displayName,jdbcType=VARCHAR},
            </if>
            <if test="apiDomain != null">
                api_domain =
                #{apiDomain,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                model_name =
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                model_type =
                #{modelType,jdbcType=TINYINT},
            </if>
            <if test="modelId != null">
                model_id =
                #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="apiKey != null">
                api_key =
                #{apiKey,jdbcType=VARCHAR},
            </if>
            <if test="maxContextMsgs != null">
                max_context_msgs =
                #{maxContextMsgs,jdbcType=INTEGER},
            </if>
            <if test="similarityTopP != null">
                similarity_top_p =
                #{similarityTopP,jdbcType=FLOAT},
            </if>
            <if test="temperature != null">
                temperature =
                #{temperature,jdbcType=FLOAT},
            </if>
            <if test="similarityTopK != null">
                similarity_top_k =
                #{similarityTopK,jdbcType=FLOAT},
            </if>
            <if test="isDefault != null">
                is_default =
                #{isDefault,jdbcType=TINYINT},
            </if>
            <if test="caseTags != null">
                case_tags =
                #{caseTags,jdbcType=VARCHAR},
            </if>
            <if test="caseBrief != null">
                case_brief =
                #{caseBrief,jdbcType=VARCHAR},
            </if>
            <if test="caseRemark != null">
                case_remark =
                #{caseRemark,jdbcType=VARCHAR},
            </if>
            <if test="isEnabled != null">
                is_enabled =
                #{isEnabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time =
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time =
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.losgai.ai.entity.ai.AiConfig">
        update ai_config
        set display_name     = #{displayName,jdbcType=VARCHAR},
            api_domain       = #{apiDomain,jdbcType=VARCHAR},
            model_name       = #{modelName,jdbcType=VARCHAR},
            model_type       = #{modelType,jdbcType=TINYINT},
            model_id         = #{modelId,jdbcType=VARCHAR},
            api_key          = #{apiKey,jdbcType=VARCHAR},
            max_context_msgs = #{maxContextMsgs,jdbcType=INTEGER},
            similarity_top_p = #{similarityTopP,jdbcType=FLOAT},
            temperature       = #{temperature,jdbcType=FLOAT},
            similarity_top_k = #{similarityTopK,jdbcType=FLOAT},
            is_default       = #{isDefault,jdbcType=TINYINT},
            case_tags        = #{caseTags,jdbcType=VARCHAR},
            case_brief       = #{caseBrief,jdbcType=VARCHAR},
            case_remark      = #{caseRemark,jdbcType=VARCHAR},
            is_enabled       = #{isEnabled,jdbcType=TINYINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateOtherIsNotDefault">
        update ai_config set is_default = 0 where id != #{id}
    </update>
</mapper>
