<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.losgai.ai.mapper.AiSessionMapper">

    <resultMap id="BaseResultMap" type="com.losgai.ai.entity.ai.AiSession">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="isFavorite" column="is_favorite" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="lastMessageTime" column="last_message_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="modelId" column="model_id" jdbcType="INTEGER"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,is_favorite,
        created_time,last_message_time,user_id,
        model_id,tags,summary
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ai_session
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <select id="selectAllByUserId" resultType="com.losgai.ai.entity.ai.AiSession">
        SELECT DISTINCT ais.id as id,
        ais.title as title,
        ais.is_favorite as isFavorite,
        ais.created_time as createdTime,
        ais.last_message_time as lastMessageTime,
        ais.user_id as userId,
        ais.model_id as modelId,
        ais.tags as tags,
        ais.summary as summary
        FROM ai_session ais
        LEFT JOIN ai_message_pair aim ON ais.id = aim.session_id
        WHERE ais.user_id = #{userId}
        ORDER BY ais.last_message_time DESC
    </select>

    <select id="selectAllIdsByUserId" resultType="java.lang.Long">
        select id from ai_session
        where user_id = #{userId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ai_session
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.losgai.ai.entity.ai.AiSession" useGeneratedKeys="true">
        insert into ai_session
        ( id,title,is_favorite
        ,created_time,last_message_time,user_id
        ,model_id,tags,summary
        )
        values (#{id,jdbcType=BIGINT},#{title,jdbcType=VARCHAR},#{isFavorite,jdbcType=TINYINT}
        ,#{createdTime,jdbcType=TIMESTAMP},#{lastMessageTime,jdbcType=TIMESTAMP},#{userId,jdbcType=BIGINT}
        ,#{modelId,jdbcType=INTEGER},#{tags,jdbcType=VARCHAR},#{summary,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.losgai.ai.entity.ai.AiSession" useGeneratedKeys="true">
        insert into ai_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="title != null">title,</if>
                <if test="isFavorite != null">is_favorite,</if>
                <if test="createdTime != null">created_time,</if>
                <if test="lastMessageTime != null">last_message_time,</if>
                <if test="userId != null">user_id,</if>
                <if test="modelId != null">model_id,</if>
                <if test="tags != null">tags,</if>
                <if test="summary != null">summary,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="isFavorite != null">#{isFavorite,jdbcType=TINYINT},</if>
                <if test="createdTime != null">#{createdTime,jdbcType=TIMESTAMP},</if>
                <if test="lastMessageTime != null">#{lastMessageTime,jdbcType=TIMESTAMP},</if>
                <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
                <if test="modelId != null">#{modelId,jdbcType=INTEGER},</if>
                <if test="tags != null">#{tags,jdbcType=VARCHAR},</if>
                <if test="summary != null">#{summary,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.losgai.ai.entity.ai.AiSession">
        update ai_session
        <set>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="isFavorite != null">
                    is_favorite = #{isFavorite,jdbcType=TINYINT},
                </if>
                <if test="createdTime != null">
                    created_time = #{createdTime,jdbcType=TIMESTAMP},
                </if>
                <if test="lastMessageTime != null">
                    last_message_time = #{lastMessageTime,jdbcType=TIMESTAMP},
                </if>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=BIGINT},
                </if>
                <if test="modelId != null">
                    model_id = #{modelId,jdbcType=INTEGER},
                </if>
                <if test="tags != null">
                    tags = #{tags,jdbcType=VARCHAR},
                </if>
                <if test="summary != null">
                    summary = #{summary,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.losgai.ai.entity.ai.AiSession">
        update ai_session
        set 
            title =  #{title,jdbcType=VARCHAR},
            is_favorite =  #{isFavorite,jdbcType=TINYINT},
            created_time =  #{createdTime,jdbcType=TIMESTAMP},
            last_message_time =  #{lastMessageTime,jdbcType=TIMESTAMP},
            user_id =  #{userId,jdbcType=BIGINT},
            model_id =  #{modelId,jdbcType=INTEGER},
            tags =  #{tags,jdbcType=VARCHAR},
            summary =  #{summary,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
