<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.losgai.sys.mapper.RentalOrderMapper">

    <resultMap id="BaseResultMap" type="com.losgai.sys.entity.carRental.RentalOrder">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="carId" column="car_id" />
            <result property="startRentalTime" column="start_rental_time" />
            <result property="endRentalTime" column="end_rental_time" />
            <result property="price" column="price" />
            <result property="status" column="status" />
            <result property="score" column="score" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,car_id,start_rental_time,end_rental_time,price,
        status,score,create_time,update_time,deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rental_order
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from rental_order
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.losgai.sys.entity.carRental.RentalOrder" useGeneratedKeys="true">
        insert into rental_order
        ( id,user_id,car_id,start_rental_time,end_rental_time,price,
        status,score,create_time,update_time,deleted)
        values (#{id},#{userId},#{carId},#{startRentalTime},#{endRentalTime},#{price},
        #{status},#{score},#{createTime},#{updateTime},#{deleted})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.losgai.sys.entity.carRental.RentalOrder" useGeneratedKeys="true">
        insert into rental_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="carId != null">car_id,</if>
                <if test="startRentalTime != null">start_rental_time,</if>
                <if test="endRentalTime != null">end_rental_time,</if>
                <if test="price != null">price,</if>
                <if test="status != null">status,</if>
                <if test="score != null">score,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="userId != null">#{userId},</if>
                <if test="carId != null">#{carId},</if>
                <if test="startRentalTime != null">#{startRentalTime},</if>
                <if test="endRentalTime != null">#{endRentalTime},</if>
                <if test="price != null">#{price},</if>
                <if test="status != null">#{status},</if>
                <if test="score != null">#{score},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.losgai.sys.entity.carRental.RentalOrder">
        update rental_order
        <set>
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="carId != null">
                    car_id = #{carId},
                </if>
                <if test="startRentalTime != null">
                    start_rental_time = #{startRentalTime},
                </if>
                <if test="endRentalTime != null">
                    end_rental_time = #{endRentalTime},
                </if>
                <if test="price != null">
                    price = #{price},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="score != null">
                    score = #{score},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.losgai.sys.entity.carRental.RentalOrder">
        update rental_order
        set 
            user_id =  #{userId},
            car_id =  #{carId},
            start_rental_time =  #{startRentalTime},
            end_rental_time =  #{endRentalTime},
            price =  #{price},
            status =  #{status},
            score =  #{score},
            create_time =  #{createTime},
            update_time =  #{updateTime},
            deleted =  #{deleted}
        where   id = #{id} 
    </update>
</mapper>
