<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.losgai.sys.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.losgai.sys.entity.sys.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="idNumber" column="id_number"/>
        <result property="licenseNumber" column="license_number"/>
        <result property="licenseDate" column="license_date"/>
        <result property="phone" column="phone"/>
        <result property="realName" column="real_name"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="gender" column="gender"/>
        <result property="birthdate" column="birthdate"/>
        <result property="status" column="status"/>
        <result property="role" column="role"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,password,id_number,license_number,license_date,
        phone,real_name,avatar_url,gender,birthdate,
        status,role,create_time,update_time,deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
        and deleted = 0
    </select>

    <select id="selectByUsername" resultType="com.losgai.sys.entity.sys.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where deleted = 0
        and phone = #{username,jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="existsByUsername" resultType="java.lang.Integer">
        select exists(
        select 1
        from user
        where deleted = 0
        <trim prefix="and (" suffix=")" prefixOverrides="or">
            <if test="phone != null and phone != ''">
                or phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="idNumber != null and idNumber != ''">
                or id_number = #{idNumber,jdbcType=VARCHAR}
            </if>
            <if test="licenseNumber != null and licenseNumber != ''">
                or license_number = #{licenseNumber,jdbcType=VARCHAR}
            </if>
        </trim>
        )
    </select>

    <select id="queryByKeyWord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            deleted = 0
            <if test="keyWord != null and keyWord.trim() != ''">
                and (phone like concat('%',#{keyWord,jdbcType=VARCHAR},'%')
                or username like concat('%',#{keyWord,jdbcType=VARCHAR},'%')
                or real_name like concat('%',#{keyWord,jdbcType=VARCHAR},'%')
                or id_number like concat('%',#{keyWord,jdbcType=VARCHAR},'%')
                )
            </if>
        </where>
    </select>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- 软删除用户 -->
        update user
        set deleted = 1
        where id = #{id, jdbcType=BIGINT}
        and deleted = 0
    </update>

    <update id="deleteOrdersByUserId" parameterType="java.lang.Long">
        update rental_order
        set deleted = 1
        where user_id = #{userId, jdbcType=BIGINT}
        and deleted = 0
    </update>

    <update id="deleteCommentsByUserId" parameterType="java.lang.Long">
        update comment
        set deleted = 1
        where user_id = #{userId, jdbcType=BIGINT}
        and deleted = 0
    </update>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.losgai.sys.entity.sys.User"
            useGeneratedKeys="true">
        insert into user
        (id, username, password, id_number, license_number, license_date,
         phone, real_name, avatar_url, gender, birthdate,
         status, role, create_time, update_time, deleted)
        values (#{id,jdbcType=BIGINT},
                #{username,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{idNumber,jdbcType=VARCHAR},
                #{licenseNumber,jdbcType=VARCHAR},
                #{licenseDate,jdbcType=TIMESTAMP},
                #{phone,jdbcType=VARCHAR},
                #{realName,jdbcType=VARCHAR},
                #{avatarUrl,jdbcType=VARCHAR},
                #{gender,jdbcType=TINYINT},
                #{birthdate,jdbcType=TIMESTAMP},
                #{status,jdbcType=TINYINT},
                #{role,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP},
                #{deleted,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.losgai.sys.entity.sys.User"
            useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="licenseNumber != null">license_number,</if>
            <if test="licenseDate != null">license_date,</if>
            <if test="phone != null">phone,</if>
            <if test="realName != null">real_name,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="gender != null">gender,</if>
            <if test="birthdate != null">birthdate,</if>
            <if test="status != null">status,</if>
            <if test="role != null">role,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="licenseNumber != null">#{licenseNumber},</if>
            <if test="licenseDate != null">#{licenseDate},</if>
            <if test="phone != null">#{phone},</if>
            <if test="realName != null">#{realName},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthdate != null">#{birthdate},</if>
            <if test="status != null">#{status},</if>
            <if test="role != null">#{role},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.losgai.sys.entity.sys.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="idNumber != null">
                id_number = #{idNumber},
            </if>
            <if test="licenseNumber != null">
                license_number = #{licenseNumber},
            </if>
            <if test="licenseDate != null">
                license_date = #{licenseDate},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="birthdate != null">
                birthdate = #{birthdate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where   id = #{id}
        and deleted = 0
    </update>

    <update id="updateByPrimaryKey" parameterType="com.losgai.sys.entity.sys.User">
        update user
        set
            username =  #{username},
            password =  #{password},
            id_number =  #{idNumber},
            license_number =  #{licenseNumber},
            license_date =  #{licenseDate},
            phone =  #{phone},
            real_name =  #{realName},
            avatar_url =  #{avatarUrl},
            gender =  #{gender},
            birthdate =  #{birthdate},
            status =  #{status},
            role =  #{role},
            create_time =  #{createTime},
            update_time =  #{updateTime},
            deleted =  #{deleted}
        where id = #{id}
        and deleted = 0
    </update>

<!--    <update id="updatePwd">-->
<!--        update user-->
<!--        set password = #{newPwd,jdbcType=VARCHAR}-->
<!--        where id = #{id,jdbcType=BIGINT}-->
<!--    </update>-->
</mapper>